html, body {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

input,
textarea {
    display: block;
    padding: 5px;
    font-size: 16px;
    font-family: inherit;
    border-bottom: 1px solid black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 100%;
}

#mailbox-pane{
    border-bottom: 1px solid black;
    border-radius: 2px;
    margin: 0 10px;
}

#message-pane{
    margin: 0 10px;
}

#mailbox{
    height: 200px;
    overflow-x: auto;
}

#message-reader,
#message-composer {
    margin:10px;
    overflow-x: auto;
    height: 350px;
    border-radius: 2px;
}

#inbox, #outbox {
    width: 100%;
    padding-left: 0;
    list-style-type: none;
    list-style-position: inside;
}

#mailbox-controls,
#message-controls {
    float: left;
    margin: 10px 40px 10px 0;
    width: 150px;
}

#mailbox-controls{
    width: 130px;
    margin-right: 60px;
}

.message-list-item {
    padding: 5px;
    transition: background .25s;
    border: 1px solid transparent;
    border-radius: 2px;
    display: block;
}

.message-list-item:hover{
    background: rgba(225, 225, 225, 0.5);
    border: 1px solid black;
}

.message-list-item span{
    display: inline-block;
    padding: 0 2px;
}

.message-list-item .date-sent {
    width: 15%;
}
.message-list-item .recipient,
.message-list-item .sender {
    border-right: 1px solid black;
    width: 24%;
}
.message-list-item .subject{
    width: 50%;
    border-right: 1px solid black;
}

.message .recipient,
.message .sender,
.message .subject,
.message .date-sent,
.message .body {
    padding: 5px;
}

.new-message {
   padding-right: 15px;
}

.new-message .recipient,
.new-message .subject,
.new-message .body {
    padding: 5px;
}


.button {
    margin: 5px;
    padding: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 2px;
    transition: background .25s;
    width: 100%;
    display: block;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

.button:hover {
    background: rgba(225, 225, 225, 0.5);
}

.button[disabled],
.button[disabled]:hover{
    border: 1px solid #afafaf;
    color: #afafaf;
    background: white;
}