html, body {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

#mailbox{
    border-bottom: 1px solid black;
    margin: 0 10px;
    height: 200px;
    overflow-x: auto;
    border-radius: 2px;
}

#message-reader {
    margin:10px;
    overflow-x: auto;
    height: 350px;
    border-radius: 2px;
}

#message-list {
    width: 100%;
    padding-left: 0;
    list-style-type: none;
    list-style-position: inside;
}

#message-controls,
#mailbox-controls {
    float: left;
    margin: 10px 40px 10px 10px;
    width: 150px;
}

.message-list-item {
    padding: 5px;
    transition: background .25s;
    border: 1px solid transparent;
    border-radius: 2px;
    display: block;
}

.message-list-item:hover{
    background: rgba(225, 225, 225, 0.5);
    border: 1px solid black;
}

.message-list-item span{
    display: inline-block;
    padding: 0 2px;
}

.message-list-item .date-sent {
    width: 15%;
}
.message-list-item .recipient {
    border-right: 1px solid black;
    width: 24%;
}
.message-list-item .subject{
    width: 50%;
    border-right: 1px solid black;
}

.message .recipient,
.message .subject,
.message .date-sent,
.message .body {
    padding: 5px;
    padding: 5px;
}

.button {
    margin: 5px;
    padding: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 2px;
    transition: background .25s;
    width: 100%;
    display: block;
    text-align: center;
}
.button:hover {
    background: rgba(225, 225, 225, 0.5);
}

.button[disabled],
.button[disabled]:hover{
    border: 1px solid #afafaf;
    color: #afafaf;
    background: white;
}