<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Backbone Mail Client</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <section id="mail-client">

        <section id="mailbox-pane">
            <div id="mailbox-controls">
                <a href="#inbox" class="button" id="inbox-button">Inbox</a>
                <a href="#outbox" class="button" id="sent-button">Sent</a>
            </div>
            <div id="mailbox">
                <ol id="inbox"></ol>
                <ol id="outbox"></ol>
            </div>
        </section>

        <section id="message-pane">
            <div id="message-controls">
                <button class="button" id="compose-button">Compose</button>
                <button class="button" id="delete-button" disabled="disabled">Delete</button>
                <button class="button" id="send-button" disabled="disabled">Send</button>
            </div>
            <div id="message-reader"></div>
            <div id="message-composer"></div>
        </section>

    </section>

    <script type="text/template" id="sent-message-template">
        <span class="message-list-item">
            <span class="recipient"><%- recipient %></span>
            <span class="subject"><%- subject %></span>
            <span class="date-sent"><%- dateSent %></span>
        </span>
    </script>

    <script type="text/template" id="received-message-template">
        <span class="message-list-item">
            <span class="sender"><%- sender %></span>
            <span class="subject"><%- subject %></span>
            <span class="date-sent"><%- dateSent %></span>
        </span>
    </script>

    <script type="text/template" id="message-reader-template">
        <div class="message">
            <div class="recipient">to: <%- recipient %> </div>
            <div class="sender">from: <%- sender %> </div>
            <div class="date-sent">sent:  <%- dateSent %></div>
            <div class="subject">subject: <%- subject %></div>
            <div class="body"> <%- body %> </div>
        </div>
    </script>

    <script type="text/template" id="message-composer-template">
        <div class="new-message">
            <input id="message-composer-recipient" placeholder="recipient" type="text"/>
            <input id="message-composer-subject" placeholder="subject" type="text"/>
            <textarea id="message-composer-body" placeholder="body" rows="10"/>
        </div>
    </script>

    <script src="js/lib/jquery-2.1.0.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>

    <script src="js/Router.js"></script>

    <script src="js/models/Message.js"></script>
    <script src="js/collections/MessageCollection.js"></script>

    <script src="js/views/MessageControlsView.js"></script>
    <script src="js/views/MessageListItemView.js"></script>
    <script src="js/views/MessageListView.js"></script>
    <script src="js/views/MessageReaderView.js"></script>
    <script src="js/views/MessageComposerView.js"></script>
    <script src="js/views/AppView.js"></script>

    <script src="js/index.js"></script>
</body>
</html>
